%h1 Articles

%ul.article-index
  - @articles.each do |article|
    %li
      .article-headline= link_to article.headline, article
      .article-url= article.url

%br

= link_to 'New Article', new_article_path
